.headerContent {
  display: flex;
  background-color: #f3f3f3;
  position: fixed;
  width: 100vw;
  height: 5vh;
}
.button {
  color: #090031;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
}

.selecionado {
  color: #090031;
  text-decoration: underline;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerContent {
    position: static; /* Deixa o elemento fluir normalmente */
    width: 100%;
  }
}
